body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    background-color: #eee;
    margin: 24px;
}

#pageview {
    display: flex;
    padding: 8px;
    width: 1100px;
    border-radius: 24px;
}

#part2 {
    width: 600px;
}