:root {
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(60px);
    }
}


.VPNavBar.home.top {
    background-color: transparent !important;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: 1px solid transparent !important;
}

.VPNavBar.home,
.VPNavBar:not(.home) .content-body {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.dark .VPNavBar.home.top {
    background-color: transparent !important;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: 1px solid transparent !important;
}

.dark .VPNavBar.home,
.dark .VPNavBar:not(.home) .content-body {
    background-color: rgba(27, 27, 31, 0.7) !important;
}

.VPHome {
    display: flex !important;
    flex-direction: column !important;
}

.VPHome .vp-doc {
    order: 1;
}

.VPHome .VPFeatures {
    order: 2;
}



:root {
    --text-color: #000;
    --text-secondary-color: #444;
}

.dark {
    --text-color: #fff;
    --text-secondary-color: #ccc;
}